*{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
}

.logo{
    width: 190px;
    height: 159px;
}

.navigation a{
    font-family: ubuntu;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #957554;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 49px;
}

.navigation{
    display: flex;
    gap: 30px;
}

.name h2{
    font-size: 45px;
    font-family: ubuntu;
    font-weight: 500;
    line-height: 100%;
    color: #957554;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.name{
    display: grid;
     place-items: center;
     padding-bottom: 68px;
}

.little{
     font-family: ubuntu;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #957554;
    padding-bottom: 44px;
    
}

.text{
    font-family: ubuntu;
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    color: #000000;
    padding-bottom: 44px;
}

.button a{
    color: #FFFFFF;
    font-weight: 500;
    font-style: ubuntu;
    font-size: 24px;
    display: flex;
    align-items: center;
    background-color: #DFAA5B;
    padding: 12px 26px;
    border-radius: 10px;
}

.button{
    display: flex;
    text-align: center;
}

.card{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    grid-template-rows: 500px;
    padding-bottom: 50px;
}

.second img,
.fourth img {
    grid-column: 2 / 3;
    grid-row: 1;
}

.second .other,
.fourth .other {
    grid-column: 1 / 2;
    grid-row: 1;
}

.second .little,
.fourth .little {
    justify-self: end;
    text-align: right;
}

.second .button,
.fourth .button {
    justify-self: end;
}

.second .button a,
.fourth .button a {
    text-align: right;
}

.fourth{
    padding-bottom: 107px;
}

.title h2{
font-size: 45px;
font-weight: 500;
font-family: ubuntu;
color:#957554;
}

.title{
   display: grid;
    place-items: center;
    padding-bottom: 68px;
}

.Gallery{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 500px);
gap: 30px;
padding-bottom: 104px;
}

.Gallery img{
width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
    
.Gallery img:nth-child(1) {
  grid-area: 1 / 1 / 2 / 4;
}

.Gallery img:nth-child(2){
    grid-area: 1/4/2/6
}

.Gallery img:nth-child(3){
 grid-area: 2/1/3/3
}

.Gallery img:nth-child(4){
     grid-area: 2/3/3/6
}

.footer{
background-color: #111111;
display: flex;
flex-direction: row;
align-items: start;
padding-bottom: 159px;
justify-content: space-between;
}

.footer.logo img{
    padding-top: 51px;
    padding-left: 55px;
    width: 154px;
    height: 124px;
}

.contact a{
    color:#FFFFFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 400;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-top: 51px;
}
  
.last p{
    font-family: ubuntu;
    font-size: 24px;
    font-weight: 400;
    color:#FFFFFF;
}

.last a{
    font-family: ubuntu;
    font-size: 24px;
    font-weight: 300;
    color:#FFFFFF;
    display: block;

}

.last{
    padding-top: 51px;
    padding-right: 123px;
}

