*{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
}

.logo{
    width: 190px;
    height: 159px;
}

.navigation a{
    font-family: ubuntu;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #957554;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 49px;
}

.navigation{
    display: flex;
    gap: 30px;
}

