*{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
<body>
    <header class="header container">
        <div class="logo">
<a href="file:///C:/Users/595-424-424%20Temo/Desktop/bon%202/index.html">
    <img src="images/99562667501bf13463fd3c15f53f3ff44f92654b.jpg">
</a>
</div>
<div class="navigation">
<a href="#">Our Hotel</a>
<a href="#">Rooms & Rates</a>
<a href="#">Facilities</a>
<a href="#">Contact Us</a>
</div>
</header>
